@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';



.logo {
  display: flex;
  align-items: center;
  width: 250px;
}

.montesserat-400 {
  font-family: 'Monteserrat', sans-serif;
  font-weight: 400;
}
.montesserat-300 {
  font-family: 'Monteserrat', sans-serif;
  font-weight: 300;
}